# Activar RewriteEngine
RewriteEngine on

RewriteRule ^panel/$			panel/index.php
RewriteRule ^matrix/$			matrix/index.php

#	Rutas exclusivas y amigables
RewriteRule ^sabores/?$			index.php?user_sabores=1
RewriteRule ^nativas/?$			index.php?user_origen=Nativo/Autóctono

#	árboles de usuarios
RewriteRule ^colaborativo/?$	index.php?colaborativo=1

#	Reescribir la URL solicitada por el usuario
#	Entrada:  q/[especie.url]
#	Salida: index.php?especie_url=[especie.url]
Rewriterule ^q/(.+)$ index.php?especie_url=$1

#	/especie letras y -
Rewriterule ^([a-zA-Z-]+)/?$	index.php?especie_url=$1

#	/id_individuo números
RewriteRule ^([/0-9]+)$		index.php?arbol_id=$1
