/****************************************************************************** FONTS  */
@import url('http://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@fuente: 'Raleway', sans-serif;
@normal: 300;
@bold: 500;

/***************************************************************************** COLORES */
@blanco: #fff;
@gris1: #f4f4f4;
@gris2: #a6a6a6;
@gris3: #424242;
@gris4: #353535;
@gris5: #202020;
@verde: #5cba9d;

@import url('../../third-party/bootstrap/less/bootstrap.less');
@import url('../../third-party/bootstrap-plugins/bootstrap-select.min.css');

@import url('../../third-party/leaflet-plugins/Geocoder/Control.Geocoder.css');

@import url('la-magia.less');