html,
body,
.full-height {
	height: 100%;
	position: relative;
}

.no-padding { padding: 0; margin: 0; }

body {
	padding-bottom: 40px;
}

label {
	font-weight: normal;
}

#menu {
	nav {
		a {
			&.title {
				text-decoration: none;
				h1 {
					background-repeat: no-repeat;
					line-height: 1.1em;
					font-weight: 400;
					
					background-image: url(../../images/logo-72x72-blanco.png);
					background-position: -19px -5px;
					font-size: 1.35em;
					height: 63px;
					margin-bottom: 0px;
					padding-top: 21px;
					padding-left: 42px;
					small {
						display: block;
						margin-top: 0.1em;
					}
					br {
						display: none;
					}
				}
				&:hover {
					h1 {
						color: lighten(@verde, 20%);
					}
				}
			}
		}

		h6.results-text {
			display: none;
		}

		ul.results {
			display: none;
			border: 1px solid #ababab;
			background-color: #FFF;
			overflow: auto;
			
			z-index: 2000;
			
			width: 100%;
			position: absolute;
			bottom: 54px;
			max-height: 190px;
			li {
				padding: 5px;
				cursor: pointer;
				border-top: 1px solid #cdcdcd;
				transition: background-color .3s ease-in-out;
				-moz-transition: background-color .3s ease-in-out;
				-webkit-transition: background-color .3s ease-in-out;
				&:hover {
					background-color: #F7F7F7;
					h4, h5 {
						font-weight: bold;
					}
				}
				&:first-child {
					border-top: none;
				}
				a {
					text-decoration: none !important;
				}
			}
			h4, h5 {
				line-height: 0.9em;
			}
			
		}
	}

	form#busca_arboles {
		margin-bottom: 20px;
		h3 {
			font-size: 1.2em;
		}
		.radio label,
		.regiones label {
			margin-right: 7px;
		}

		#borrar_id_especie {
			//display: block;
			//margin-top: 1.5em;
			//margin-left: 0.4em;
			i {
				margin-left: 0.4em;
   				margin-top: 1.7em;
			}
		}

		#borrar_origen {

		}
	}

	#mas-filtros {
		&.oculto {
			display: none;
		}
		&.visible {
			display: block;
		}
	}

	#mas-filtros-btn-container {
		margin-bottom: 2em;
	}

	.que-es-esto {
		margin-bottom: 2em;
	}
}

#especies-lista { position: relative; }

.progress {
	display: none;
	
	/*
	position: absolute;
	z-index: 4000;
	top: 0;
	*/
	
	width: 100%;
	height: 50px;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	margin-bottom: 0;
}

#info-individuo {
	display: none;
	position: fixed;
	z-index: 7000;
	//border: 0.4em solid @gris5;
	background-color: fadeout(@blanco, 5%);
	color: @gris5;
	-webkit-box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.5);
	box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.5);

	border-bottom: 0.5em solid @gris5;

	h1 {
		margin-top: 1em;
		small {
			line-height: 1em;
			display: block;
			padding: 0.5em 0;
			color: @gris5;
		}
	}
	.box {
		padding: 1em 0 2em;
		
	}
	.cerrar {
		display: inline-block;
		float: right;
		//text-align: right;
		text-decoration: none;

		color: lighten(@gris3,20);
		&:hover {
			color: @gris5;
		}
	}
	.autor {
		display: block;
		padding-top: 2em;
	}
	.enlace-directo {
		padding-top: 1.6em;
	}

	a {
		color: lighten(@gris3,20);
		&:hover {
			color: @gris5;
		}
	}
}

.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:focus small,
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) > a small {
	color: #FFF !important;
}

#mapa {
	margin-bottom: 50px;
}

.leaflet-popup-content h1 small {
	font-size:  50%;
	font-style: italic;
}

.leaflet-container a.btn-primary {
	color: @blanco;
}

.red {
	text-align: center;

	.este-mapa {
		color: @gris2;
		font-size: 0.9em;
	}

	a.lcnrs,
	a.arn {
		display: block;
		//margin-top: 2rem;
		margin-bottom: 2rem;
		img {
			height: 14rem;
		}
		&:hover {
			opacity: 0.7;
		}
	}

	a.arn {
		display: block;
	}

	a.facebook {
		font-size: 1.2em;
		display: block;
		margin-bottom: 2rem;
		line-height: 1.1em;
	}

}

#adsense {
	width: 100%;
	margin-bottom: 2em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.red .facebook {
		margin-top: 5rem;
	}

	.red .este-mapa {
		text-align: right;
		margin-top: 5rem;
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	body {
		padding: 0;
	}
	
	#mapa {
		margin: 0;
		position: fixed;
		right: 0;
	}

	#menu nav {
		a.title h1 br {
			display: block;
		}

		ul.results {
			position: absolute;
			top: auto;
			bottom: auto;
			width: 100%;
			max-height: 300px;
		}

	}

	#menu nav a.title h1 {
		background-image: url(../../images/logo-120x120-blanco.png);
		background-position: -25px -12px;
		font-size: 1.55em;
		height: 106px;
		margin-bottom: 20px;
		padding-top: 40px;
		padding-left: 70px;
	}
	
	form#busca_arboles h3 {
		font-size: 1.7em;
	}	

	.red .facebook {
		margin-top: 0;
	}

	.red .este-mapa {
		margin-top: 0;
		text-align: center;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#menu nav a.title h1 {
		background-image: url(../../images/logo-152x152-blanco.png);	
		background-position: -36px -9px;
		padding-top: 50px;
		padding-left: 90px;
		
		font-size: 2.1em;
		
		height: 136px;
	}
}