@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,700);


html,
body,
.full-height {
	height: 100%;
}

body {
	padding-top: 40px;
}

label {
	font-weight: normal;
}

nav#menu a.title {
	text-decoration: none;
}

nav#menu a.title:hover h1 {
	color: #6dddbb;
}

nav#menu a.title h1 {
	background-repeat: no-repeat;
	line-height: 1.1em;
	font-weight: 400;
	
	background-image: url(../icons/logo-72x72.png);
	background-position: -21px -5px;
	font-size: 1.35em;
	height: 63px;
	margin-bottom: 20px;
	padding-top: 21px;
	padding-left: 37px;
}

nav#menu h4.results-text {
	display: none;
}
nav#menu ul.results {
	display: none;
	width: 360px;
	margin-top: 4px;
	border: 1px solid #ababab;
	background-color: #FFF;
	overflow: auto;
	width: 90%;
	height: 210px;
	position: absolute;
	z-index: 1;
}
nav#menu ul.results li {
	padding: 8px;
	cursor: pointer;
	border-top: 1px solid #cdcdcd;
	transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
}
nav#menu ul.results li:hover {
	background-color: #F7F7F7;
}
nav#menu ul.results li:first-child {
	border-top: none;
}
nav#menu ul.results li h4, ul#results li h5 {
	line-height: 1.2em;
}
nav#menu ul.results li:hover h4, ul#results li:hover h5  {
	font-weight: bold;
}

nav#menu ul.results li a {
	text-decoration: none !important;
}


#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 9px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #5cba9d;
}

form#busca_arboles {
	margin-bottom: 20px;
}

form#busca_arboles .radio label {
	margin-right: 7px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	body {
		padding-top: 0;
	}
	
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	nav#menu a.title h1 {
		background-image: url(../icons/logo-120x120.png);
		background-position: -36px -7px;
		font-size: 1.55em;
		height: 106px;
		margin-bottom: 20px;
		padding-top: 40px;
		padding-left: 60px;
	}	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	nav#menu a.title h1 {
		background-image: url(../icons/logo-152x152.png);	
		background-position: -36px -7px;
		padding-top: 50px;
		padding-left: 80px;
		
		font-size: 2.1em;
		
		height: 136px;
	}
}

