/* CSS Document */

#ewHeaderRow  {
    background-image: url("../../images/logo-152x152.png");
    background-position: 39px 64%;
    background-repeat: no-repeat;
    background-size: auto 90%;
    height: 100px;
    padding-top: 20px;

}

#ewHeaderRow > img {
	display: none;
}


